body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333333;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header {
    background: #fff;
    padding: 1rem 5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container img {
    margin: 0;
    width: 8rem;
}

.container .menu {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 13px;
}

nav ul li a {
    color: rgba(63, 63, 63, 0.928);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

.h-feature i {
    font-size: 1.5rem;
}

.header-btn button {
    padding: 12px 10px;
    font-size: 0.9rem;
}

.h-btn1 {
    border: none;
    background-color: transparent;
    word-spacing: 10px;
    color: rgba(63, 63, 63, 0.928);
    font-weight: 600;
}

.h-btn1 span {
    color: #33333391;
}

.h-btn2 {
    color: rgb(90, 102, 180);
    background-color: transparent;
    border: 1px solid rgb(90, 102, 180);
    border-radius: 5px;
    font-weight: 550;
}

#hero {
    max-width: 1050px;
    margin: 55px auto;
    padding: 20px;
    text-align: center;
}

.main-text {
    margin: 40px 0;
    font-size: 3rem;
    font-weight: 500;
}

.highlight {
    text-decoration: underline;
    color: rgba(90, 102, 180, 0.734);
}

.sub-text {
    color: #777;
    font-size: 1.4rem;
    line-height: 6px;
}

.cta {
    margin-top: 35px;
}

.cta input {
    padding: 17px 20px;
    width: 23%;
    border: 1px solid rgba(90, 102, 180, 0.616);
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 10px;
}

.cta button {
    background-color: rgba(54, 67, 150);
    color: #fff;
    padding: 17px 30px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.cta button:hover {
    background-color: #5a54e3;
}

.info {
    margin-top: 15px;
    font-size: 0.9rem;
    color: rgba(90, 102, 180, 0.792);
}

#about {
    background-color: #F6F9FC;
    display: flex;
}

.about-left {
    padding: 50px 0 50px 30px;
    width: 100%;
}

.about-left h1 {
    font-size: 2.7rem;
    line-height: 15px;
}

.about-left p {
    font-size: 1.3rem;
    color: #888888;
}

.about-first {
    display: flex;
    line-height: 10px;
}

.about-left-div {
    width: 120%;
    padding: 8px 65px 30px 0;
}

.about-left-div h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.about-left-div h3 {
    font-weight: 550;
    font-size: 0.9rem;
    color: #888888;
    line-height: 26px;
}

.about-left-div a {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #6772e5;
    border-bottom: 1px solid #a8aef0;
}

.last {
    width: 22vw;
}

.about-image img {
    max-width: 70%;
    height: auto;
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    margin-top: 16%;
    margin-left: 10%;
}

.about-card {
    margin-top: -230px;
    margin-left: -230px;
    z-index: 10;
}

.about-card img {
    width: 12rem;
    margin-left: 134px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    object-fit: cover;
}

.box {
    background-color: #fff;
    height: 6rem;
    width: 12rem;
    text-align: center;
    color: #000;
    margin-left: 9.9%;
    margin-top: -5px;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box h3 {
    font-size: 1rem;
}
.box p {
    font-size: 0.9rem;
    margin-top: -10px;
    color: #888888;
}
.about-right-bottom {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 90px;
}
.about-right-bottom h2 {
    font-size: 1.2rem;
}

.about-right-bottom p {
    color: #888888;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: -10px;
}

.digital{
    background-color: #010838;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}
.digital a{
    border-bottom: none;
    color: #FFFFFF;
    text-decoration: underline;
}
.pannel{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding-bottom: 50px;
}
.pannel-container{
    display: flex;
    width: 100%;
    padding-top: 50px;
}
.left-panel {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    /* box-shadow: 2px 0 5px rgba(0,0,0,0.1); */
}
.top{
    width: 98.2%;
    background-color: #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.circle-red{
    background-color: #FC615D;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}
.circle-orange{
    background-color: #FDBC40;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}
.circle-green{
    background-color: #34C84A;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}
.left-panel img {
    width: 100%;
    border: 2px solid #F4F4F4;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.right-panel {
    width: 50%;
    padding: 60px;
    margin-left: 40px;
    margin-top: -60px;
    line-height:27px;
}
h1 {
    font-size: 2.5rem;
    /* margin-bottom: 10px; */
    font-weight: 550;
}
.section-title {
    font-weight: bold;
    font-size:1.4rem;
    margin-top: 20px;
}
.description {
    font-size:1.2rem;
    margin: 10px 0 30px 0;
    color: #888888;
    margin-top: 25px;
}
p{
    font-size:1rem;
    color: #888888;
}
.right-panel .text-small{
    color: #888888;
    line-height:30px;
}
.text-small a {
    font-size:0.9rem;
    text-decoration: none;
    cursor: pointer;
    color: #6772e5;
    border-bottom: 1px solid #a8aef0;
}


.card-container {
    text-align: center;
    padding: 80px 20px;
    background-color: #F6F9FC;
}
.title {
    font-size: 2.5rem;
    font-weight: bold;
}
.subtitle {
    font-size: 1.3rem;
    color: #888888;
    margin-top: 20px;
    margin-bottom: 40px;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.testimonial {
    max-width: 350px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.testimonial p {
    font-size: 1.2rem;
    padding:1px 30px;
    line-height: 28px;
    color: #888888;
}
.author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.author img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.author-info {
    text-align: left;
}
.author-info strong {
    font-size: 0.9rem;
}
.author-info span {
    font-size: 0.9rem;
    display: block;
    color: #777;
}
.quote-icon{
    fill: #6772e5;
    margin-right: 5px;
}



.fourth-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 40px 20px 110px 20px;
}

.content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.four-left{
    width: 100%;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtext {
    color: #888888;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.support-section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 40px;
    width: 100%;
}

.support-box {
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.support-next{
    margin-left: 0;
}

.support-box h3 {
    font-size: 1.3rem;
}

.support-box p {
    color: #888888;
    line-height: 30px;
}

.support-box a {
    color: #4f46e5;
    text-decoration: none;
    font-weight:500;
    border-bottom: 1px solid #a8aef0;
}

.image-section {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.image-section img {
    width: 90%;
    max-width: 500px;
}
@media (max-width: 768px) {
    .fourth-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .four-left {
        width: 100%;
    }
    .support-section {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
    }

    .image-section {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .image-section img {
        width: 100%;
        max-width: 300px;
    }
}




.signup-container {
    background-color: #010838;
    background-image: url(/images/designv2/signup-bg.svg);
    background-repeat: repeat-x;
    background-position: center 170px;
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.signup-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.signup-container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.signup-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.signup-form input[type="email"] {
    padding: 15px;
    font-size: 1rem;
    width: 300px;
    border: none;
    border-radius: 5px;
}
.signup-form button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #f97373;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signup-form button:hover {
    background-color: #f94f4f;
}
.signup-info {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
}

.footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 250px;
    margin: 10px;
}

.footer h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer a {
    display: block;
    color: #888888;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 25px;
}

.footer a:hover {
    color: #000;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #777;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -325px;
}

.footer-logo img {
    height: 35px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        overflow-x: hidden;
    }

    header {
        padding: 1.5rem 1rem;
        box-shadow: 1px 1px 10px #00000061;
    }

    .container img {
        width: 6rem;
    }

    .container .menu {
        display: block;
        position: absolute;
        top: 20px;
        right:20px;
        font-size: 20px;
    }

    nav ul {
        display: none;
    }

    .h-btn1, .h-btn2 {
        display: none;
    }

    #hero {

        margin: 50px auto;
        padding: 10px 40px;
    }

    .main-text {
        font-size:2.7rem;
        font-weight: 540;
        line-height:50px ;
    }
    .highlight {
        text-decoration:none;
        color: #333333;
    }
    .sub-text {
        font-size: 1.4rem;
        line-height: 30px;
        margin-top: -20px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
    }

    .cta input {
        width: 70%;
        padding: 15px;
        margin-bottom: 10px;
    }

    .cta button {
        width: 70%;
        padding: 15px;
        margin-left: -8px;
    }

    .info {
        font-size: 0.8rem;
        padding-right: 50px;
        margin-left: 40px;
    }
    #about {
        background-color: #F6F9FC;
        display: flex;
        flex-wrap: wrap; 
        overflow-x: hidden;
    }
    .about-left h1 {
        font-size: 2.6rem;
        line-height: 47px;
    }
    
    .about-left p {
        font-size: 1.1rem;
        margin-top: -12px;
        line-height: 30px;
    }
    
    .about-first {
        display: flex;
        flex-direction: column;
        line-height: 10px;
    }
    
    .about-left-div {
        width: 85%;
        padding: 8px 65px 30px 0;
    }
    
    .about-left-div h2 {
        font-weight: 600;
        font-size: 1.3rem;
    }
    
    .about-left-div h3 {
        font-weight: 550;
        font-size: 0.9rem;
        color: #888888;
        line-height: 26px;
    }
    .about-image img {
        max-width:80%;
        margin-top: -10%;
        margin-left:9.5%;
    }
    
    .about-card {
        margin-top: -230px;
        margin-left: -120px;
    }
    
    .about-card img {
        width: 10rem;
    }
    
    .box {
        width: 10rem;
        margin-left: 36.3%;
    }       
    .box h3 {
        font-size: 1rem;
        font-weight: 540;
    }
    
    .box p {
        font-size: 0.9rem;
        margin-top: -10px;
    }
    
    .about-right-bottom {
        margin-top: 155px;
        margin-left: 40px;
    }
    
    .about-right-bottom h2 {
        font-size: 1.2rem;
        font-weight: 540;
    }

    .pannel{
        flex-direction: column; 
        height: auto; 
        align-items: center;
        padding: 20px;
        overflow-x: hidden;
    }

    .pannel-container {
        flex-direction: column; 
        padding-top: 20px; 
    }

    .right-panel {
        width: 100%; 
        padding: 20px 30px;
    }
    .left-panel{
        margin-left: -15px;
        width: 251px; 
        padding: 20px 30px;
    }
    .left-panel img {
        width:266px;
    }

    .right-panel {
        margin-left: 0;
        margin-top: 0;
        margin-left: -15px;
        padding: 20px 30px;
    }

    .top {
        width: 100%; 
        padding: 10px;
    }

    h1 {
        font-size: 2.4rem; 
        line-height: 50px;
        padding-right: 35px;
    }

    .section-title {
        font-size: 1.3rem;
        padding-right: 40px;
        line-height: 30px;
    }

    .description {
        font-size: 1.2rem; 
        margin: 10px 0 20px 0; 
    }

    p {
        font-size: 1rem; 
        padding-right: 35px;
    }
    .right-panel .text-small {
        font-size:1rem; 
        line-height: 24px; 
    }

    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px; 
    }
    .footer-section {
        text-align: center;
        margin: 10px 0;
        flex-basis: 100%; 
    }
    .footer-logo {
        margin-top: 0;
    }
    .footer-bottom {
        margin-top: 20px;
        padding: 10px 45px;
    }

    .signup-form input[type="email"] {
        padding: 5px 20px;
        font-size: 0.9rem;
        width: 150px;
        border: none;
        border-radius: 5px;
    }
    .signup-form button {
        padding: 10px 30px;
        font-size: 0.9rem;
        background-color: #f97373;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
   
}
